
.portfolio section{
    height: 100lvh;
    background-size: cover;
    padding: 0 5%;
}
.portfolio .btn{
    background-color: var(--color-accent-alpha);
}
.portfolio .btn:hover{
    background-color: var(--color-accent-alpha-hover);
}
/* ================SECTION-1===================== */
.portfolio .portofoliu-section1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-image: url("/static/img/img-portofoliu1.png");
}
.portfolio .hero-title{
    font-family: "Lexend Exa", sans-serif;
    font-size: 2rem;
    font-weight: 200;
    color: var(--color-accent);
    text-transform: uppercase;
    margin-bottom: 7vh;
}
.portfolio .portofoliu-section1 .wrapper{
    align-self: flex-start;
    margin-bottom: auto;
}
.portfolio .hero-subtitle{
    list-style-type: none;
    color: var(--color-text);
    font-family: "Lexend Exa", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* =============SECTION-2================= */

.portfolio .portofoliu-section2{
    background-image: url("/static/img/img-portofoliu2.png");
    padding-top: 20lvh;

}

.portfolio .portofoliu-section2 .wrapper p{
    width: 60%;
    max-width: 20rem;
    font-family: "Lexend Exa", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--color-text);
}
.portfolio .emphasis{
    color: var(--color-accent);
}

/* ==============SECTION-3=================== */

.portfolio .portofoliu-section3{
    background-image: url("/static/img/img-portofoliu3.png");
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.portfolio .portofoliu-section3 .wrapper{
    width: 80%;
    max-width: 300px;
}
.portfolio .portofoliu-section3 .wrapper:nth-child(even){
    align-self: flex-end;
}

.portfolio .about-me-title, .portfolio .about-me-text{
    font-family: "Lexend Exa", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}
.portfolio .about-me-title{
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    margin-bottom: 1vh;
}
.portfolio .about-me-text{
    color: hsl(0, 0%, 100%, 0.6);
    line-height: 1.7;
}

.portfolio .portofoliu-section3 em {
    font-style: normal;
    color: hsl(0, 0%, 100%);
}

/* ===============Section-4===================== */

.portfolio .portofoliu-section4{
    background-image: linear-gradient(to bottom, var(--color-bg-medium), var(--color-bg-light));
    padding-top: 5vh;
}
.portfolio .subtitle{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Lexend Exa", sans-serif;
    font-weight: 400;
    color: var(--color-accent);
    text-align: center;
    margin-bottom: 5vh;
}

.portfolio .diploma-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vh;
}
.portfolio .diploma-container img {
    width: 100%;
    max-width: 200px;
}


@media screen and (max-height: 820px){
    .portfolio .portofoliu-section1{
        padding-top: 3.5rem;
    }
    .portfolio .hero-title{
        font-size: 1.8rem;
    }
    .portfolio .hero-subtitle{
        font-size: 1rem;
    }

    .portfolio .portofoliu-section2 .wrapper p{
        font-size: 1.2rem;
    }
    .about-me-title, .about-me-text{
        font-size: 0.7rem;
    }
}

@media screen and (orientation: landscape){
    .portfolio .portofoliu-section1{
        background-position: 0% 10%;
    }
    .portfolio .portofoliu-section2{
        background-position: 0 20%;
    }
    .portfolio .diploma-container{
        flex-direction: row;
        justify-content: center;
        gap: 2vw;
    }
    .portfolio .portofoliu-section3{
        justify-content: space-around;
        flex-wrap: wrap;
        flex-flow: column wrap;
        gap: 10vh;
    }
    .portfolio .portofoliu-section3 .wrapper{
        text-wrap: balance;
    }
    .portfolio .portofoliu-section3 .wrapper:nth-child(even){
        align-self: flex-start;
    }
    .portfolio .portofoliu-section3 .wrapper:last-child{
        align-self: flex-end;
    }
}

@media screen and (orientation: landscape) and (max-width: 820px){
    .portfolio .portofoliu-section3{
        gap: 5vh;
    }
    .portfolio .portofoliu-section3 .wrapper{
        width: 80%;
        max-width: 250px;
    }
}

/* trebuie sa ma gandesc cum aranjez paragrafele cand sunt pe ecrane mai putin inalte in portrait mode */