#app.reviews{
    background-image: url("../img/img-reviews.jpg");
    background-size: cover;
}
.reviews section{
    min-height: 100vh;
    padding: 10vmax 0 3vh 0;
    background-color: hsl(0, 0%, 0%, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.reviews .slide-container{
    /* margin-bottom: 2rem; */
    position: relative;
}
.reviews .swiper{
    padding: 0 5%;
}
/* .reviews .card-wrapper{
    width: 100%;
    height: inherit;
    max-width: 400px;
} */

.reviews .card{
    max-width: 360px;
    min-height: 450px;
    border-radius: 30px;
    border: 1px solid #5d5d5d;
    /* border: 1px solid white; */
    background-color: #1a1a1a;
    color: white;
    height: inherit;
    padding: 1.5rem 1rem;
    margin: 0 auto;
}

.reviews .card-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.reviews .card-header img{
    width: 75px;
    border-radius: 50%;
}

.reviews .card-header .author{
    color: var(--color-accent);
    font-size: 1.2rem;
    font-family: "Lexend Exa", sans-serif;
    font-weight: 400;
}

.reviews .card-body{
    color: var(--color-text);
    font-family: "League Spartan", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
}

.reviews .swiper-button-prev{
    left: 0;
    right: auto;
    width: 5vmin;
}
.reviews .swiper-button-next{
    left: auto;
    right: 0;
    width: 5vmin;
}
.reviews .swiper-button-next::after, .reviews .swiper-button-prev::after{
    font-size: 1rem;
    color: white;
}
.reviews .swiper-pagination{
    position: relative;
    inset: unset;
}
.reviews .swiper-pagination-bullet{
    background: hsl(0, 0%, 100%, 0.5);
    opacity: 1;
}
.reviews .swiper-pagination-bullet-active{
    background: var(--color-accent);
    opacity: 1;
}


.reviews .btn{
    align-self: center;
    background-color: var(--color-accent-alpha);
}
.reviews .btn:hover{
    background-color: var(--color-accent-alpha-hover);
}
.reviews .social-container{
    padding-left: 5%;
}